<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">
    {{ data.headline }}
  </h3>
  <div class="modal-body">
    <ng-container *ngTemplateOutlet="data.bodyTemplate" />
  </div>
  <div class="modal-footer">
    @for (button of data.buttons; track $index) {
      <button
        [disabled]="button.disabled"
        type="button"
        [class]="getCssClasses(button)"
        (click)="buttonClick(button)"
      >
        {{ button.text }}
      </button>
    }
  </div>
</clr-modal>
